.DS_Store
*.log
tmp/

data/mock_data/
data/test_data/

resources/exit_rif/

containers/magma-container-1/resistance_db_who

*/**/*fastq.gz
*/**/*fasta
*/**/*gbk
*/**/*dot
*/**/*svg
*/**/*mp4

.idea
work/
data/full_data
results*
*.nextflow*

conda_envs/magma-env*
containers/**/*yml

samplesheet.csv
magma.sh
.Rproj.user

docs/_site

.DS_Store
