.DS_Store
*.log
tmp/

data/mock_data/
data/test_data/


*/**/*fastq.gz
*/**/*fasta
*/**/*gbk
*/**/*dot
*/**/*svg
*/**/*mp4

.idea
work/
data/full_data
results*
*.nextflow*

conda_envs/xbs-nf-env*
containers/**/*yml

samplesheet.csv
xbs-nf.sh
