// ##### BASIC INPUT #####

// The input CSV sample file (the study id cannot start with 'XBS_REF_')
//NOTE: The samplesheet should have the following fields [study, sample, library, attempt, flowcell, lane, index_sequence, r1, r2]
//NOTE: Most of these parameters are used to create unique_id in XBS_main.py

input_samplesheet = "samplesheet.magma.csv"

// The directory to which all output files should be written
outdir = "magma-results"

// The name of the output VCF file
// NOTE: This parameter is used to derive the JOINT_NAME in XBS_main.py
vcf_name = "joint"

// NOTE: Got little genetic diveristy in your dataset? (.e.g clonal or <20 samples) - use the EXIT-RIF GVCF file to include additional samples.

use_ref_gvcf = true
ref_gvcf =  "${projectDir}/resources/ref_gvcfs/LineagesAndOutgroupV2.g.vcf.gz"
ref_gvcf_tbi =  "${projectDir}/resources/ref_gvcfs/LineagesAndOutgroupV2.g.vcf.gz.tbi"

// ##### The follow sections generally do not require adjusting. #####

//  ##### QC THRESHOLDS #####

//The median coverage required to process the sample
median_coverage_cutoff = 10

//The breadth of coverage required to process the sample
breadth_of_coverage_cutoff = 0.90

//The relative abundunce of the majority strain required to process the sample
rel_abundance_cutoff = 0.80

//The maximum fraction of NTM DNA allowed to process the sample
ntm_fraction_cutoff = 0.20

// The minimum fraction of samples that need to have a call at a site before the site is considered in phylogeny
site_representation_cutoff = 0.95


strand_bias_cutoff = 0.05

// ##### Partial workflows #####

// Set this to true if you'd like to only validate input fastqs and check their FASTQC reports
only_validate_fastqs = false // OR true


//Use this flag to skip the final merge analysis
skip_merge_analysis = false // OR true


// MAGMA optimises VQSR, if this messes up use the default settings for VQSR
skip_variant_recalibration = true //OR true


//NOTE: If the dataset is contaminated, Base Recalibration steps are skipped (XBS_call#L48)
skip_base_recalibration = true

//NOTE: Output file for minor variants detection from bam with GATK XBS_call#L82. Lofreq does a better job for most purposes.
skip_minor_variants_gatk = true

// Use this flag to disable downstream phylogenetic of merged GVCF
skip_phylogeny_and_clustering = false //OR false

// Use this flag to enable downstream analysis of merged GVCF
skip_complex_regions = true //OR true


//NOTE: PICK ONE of the following parameters related to IQTREE.
iqtree_standard_bootstrap= false
iqtree_fast_ml_only= false
iqtree_fast_bootstrapped_phylogeny= false
iqtree_accurate_ml_only= false

// ##### SPECIFIC PATHS AND PARAMETERS #####

//NOTE: It is best not to change this parameters and to rely upon the provided reference files
ref_fasta_basename = "NC-000962-3-H37Rv"
ref_fasta_dir = "${projectDir}/resources/genome"
ref_fasta_dict = "${params.ref_fasta_dir}/${params.ref_fasta_basename}.dict"
ref_fasta = "${params.ref_fasta_dir}/${params.ref_fasta_basename}.fa"
ref_fasta_amb = "${params.ref_fasta}.amb"
ref_fasta_ann = "${params.ref_fasta}.ann"
ref_fasta_bwt = "${params.ref_fasta}.bwt"
ref_fasta_fai = "${params.ref_fasta}.fai"
ref_fasta_pac = "${params.ref_fasta}.pac"
ref_fasta_sa = "${params.ref_fasta}.sa"


//NOTE: Enable this when the file is actually used

drgenes_list = "${projectDir}/resources/regions/WHO_Tier1_Tier2_DR.list"

rrna_list = "${projectDir}/resources/regions/rRNA.list"

dbsnp_vcf = "${projectDir}/resources/known/Benavente2015.UVPapproved.rRNAexcluded.vcf.gz"
dbsnp_vcf_tbi =  "${params.dbsnp_vcf}.tbi"

excluded_loci_list = "${projectDir}/resources/regions/UVP_List_of_Excluded_loci.list"

benavente2015_vcf = "${projectDir}/resources/known/Benavente2015.UVPapproved.rRNAexcluded.vcf.gz"
benavente2015_vcf_tbi = "${params.benavente2015_vcf}.tbi"

coll2014_vcf = "${projectDir}/resources/truth/Coll2014.UVPapproved.rRNAexcluded.vcf.gz"
coll2014_vcf_tbi = "${params.coll2014_vcf}.tbi"

coll2018_vcf = "${projectDir}/resources/truth/Coll2018.UVPapproved.rRNAexcluded.vcf.gz"
coll2018_vcf_tbi = "${params.coll2018_vcf}.tbi"

napier2020_vcf = "${projectDir}/resources/truth/Napier2020.UVPapproved.rRNAexcluded.vcf.gz"
napier2020_vcf_tbi = "${params.napier2020_vcf}.tbi"

walker2015_vcf = "${projectDir}/resources/truth/Walker2015.UVPapproved.rRNAexcluded.vcf.gz"
walker2015_vcf_tbi = "${params.walker2015_vcf}.tbi"

zeng2018_vcf = "${projectDir}/resources/truth/Zeng2018.UVPapproved.rRNAexcluded.vcf.gz"
zeng2018_vcf_tbi = "${params.zeng2018_vcf}.tbi"




//-----------------------
// Custom tool paths
//-----------------------

fastqc_path = "fastqc"
multiqc_path = "multiqc"
samtools_path = "samtools"
bwa_path = "bwa"
clusterpicker_path = "cluster-picker"
gatk_path = "gatk"
lofreq_path = "lofreq"
delly_path = "delly"
bcftools_path = "bcftools"
snpeff_path = "snpEff"
datamash_path = "datamash"
snpdists_path = "snp-dists"
snpsites_path = "snp-sites"
bgzip_path = "bgzip"
tbprofiler_path = "tb-profiler"
ntmprofiler_path = "ntm-profiler"
iqtree_path = "iqtree"
fastq_validator_path = "fastq_validator.sh"


//-----------------------
// Process level configs
//-----------------------


//NOTE:Control the global publishing behavior, which is used as default in case there is no process specific config provided
save_mode = 'symlink'
should_publish = true

//NOTE: If enabled, the BAM results from HaplotypeCaller processes would be published
should_publish_bam = false

//-----------------------
// Initial processes
//-----------------------

SAMPLESHEET_VALIDATION {
    results_dir = "${params.outdir}/"
    should_publish = false
}


FASTQ_VALIDATOR {
    results_dir = "${params.outdir}/QC_statistics/per_sample/fastq_validation/"
    should_publish = false
}

UTILS_FASTQ_COHORT_VALIDATION {
    results_dir = "${params.outdir}/QC_statistics/cohort/fastq_validation/"
    should_publish = true
}

UTILS_MULTIPLE_INFECTION_FILTER {
    results_dir = "${params.outdir}/QC_statistics/cohort/multiple_infection_filter"
    should_publish = false
}


FASTQC {
    results_dir = "${params.outdir}/QC_statistics/per_sample/fastqc/"
}

MULTIQC {
    results_dir = "${params.outdir}/QC_statistics/cohort/multiqc/"
}


BWA_MEM {
    //NOTE: The BWA -k parameter needs to be set at about 2/3 of the read length to ensure optimal contaminant removal
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/mapped_libraries/"
    arguments = "-k 100"
    should_publish = false
}


BWA_MEM__DELLY {
    //NOTE: Use the default (-k 19) for BWA_MEM and downstream DELLY based SV analysis
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/mapped_libraries/delly"
    arguments = ""
    should_publish = false
}


//-----------------------
// Processes used in CALL_WF
//-----------------------

SAMTOOLS_MERGE {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/merged_libraries/"
    should_publish = false
}

SAMTOOLS_MERGE__DELLY {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/merged_libraries/delly/"
    should_publish = false
}

GATK_MARK_DUPLICATES {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/marked_duplicates/"
    should_publish = false

}

GATK_MARK_DUPLICATES__DELLY {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/marked_duplicates/delly"
    should_publish = false
}

GATK_BASE_RECALIBRATOR {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/base_recalibrated/"
    should_publish = false
}

GATK_BASE_RECALIBRATOR__DELLY {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/base_recalibrated/delly"
    should_publish = false
}

GATK_APPLY_BQSR {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/base_recalibrated/"
    should_publish = false
}

GATK_APPLY_BQSR__DELLY {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/base_recalibrated/delly"
    should_publish = false
}



SAMTOOLS_INDEX {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/marked_duplicates/"
    should_publish = false

}

SAMTOOLS_INDEX__DELLY {
    results_dir = "${params.outdir}/extra/per_sample/mapped_sequences/marked_duplicates/delly"
    should_publish = false
}

GATK_HAPLOTYPE_CALLER {
    results_dir = "${params.outdir}/extra/per_sample/major_variants/haplotype_caller/"
    should_publish = false

    //NOTE: Uncomment use this to publish BAMs from this process
    //should_publish_bam = false

    arguments = " -ploidy 1 --dont-use-soft-clipped-bases --read-filter MappingQualityNotZeroReadFilter -G StandardAnnotation -G AS_StandardAnnotation "
}

GATK_HAPLOTYPE_CALLER__MINOR_VARIANTS {
    results_dir = "${params.outdir}/extra/per_sample/minor_variants/haplotype_caller/"
    should_publish = false

    //NOTE: Uncomment use this to publish BAMs from this process
    //should_publish_bam = false

    arguments = " -ploidy 1 \
                    --minimum-mapping-quality 60 \
                    --min-base-quality-score 20 \
                    --read-filter MappingQualityNotZeroReadFilter \
                    -G StandardAnnotation \
                    --dont-use-soft-clipped-bases \
                    --output-mode EMIT_ALL_ACTIVE_SITES "
}

LOFREQ_CALL__NTM {
    results_dir = "${params.outdir}/non-tuberculous_mycobacteria/vcf_files/variants"

    region = "1472307-1472307"
    arguments = " -m 60 -Q 20 -a 1 "

    should_publish = false
}

LOFREQ_INDELQUAL {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"

    arguments = "-m 60"

    should_publish = false
}

SAMTOOLS_INDEX__LOFREQ {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"
    should_publish = false
}

LOFREQ_CALL {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"
    should_publish = false

    //NOTE: Curretly using default p-value for filtering. Use '-a 1' to get all minor variants
    arguments = "-m 60 --call-indels"
}

LOFREQ_FILTER {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"

    //Note: this is to filter the LoFreq output to an Allele Frequency of choice.
    arguments = "-a 0.20"
}

DELLY_CALL {
    results_dir = "${params.outdir}/vcf_files/per_sample/structural_variants/delly"

    arguments = "-u 30"
}

NTMPROFILER_PROFILE {
    results_dir = "${params.outdir}/non-tuberculous_mycobacteria/per_sample/"
}

BCFTOOLS_VIEW__GATK {
    results_dir = "${params.outdir}/vcf_files/per_sample/structural_variants/gatk"
}

BCFTOOLS_VIEW__TBP {
    results_dir = "${params.outdir}/vcf_files/per_sample/structural_variants/tbprofiler"
    arguments = """-i 'GT="1/1"'"""
}

GATK_INDEX_FEATURE_FILE__SV {
    results_dir = "${params.outdir}/vcf_files/per_sample/structural_variants/delly"

}

GATK_SELECT_VARIANTS__INCLUSION {
    results_dir = "${params.outdir}/vcf_files/per_sample/structural_variants/delly"

}

SAMTOOLS_STATS {
    results_dir = "${params.outdir}/QC_statistics/per_sample/mapping/"

    arguments = "-F DUP,SUPPLEMENTARY,SECONDARY,UNMAP,QCFAIL"
}

GATK_COLLECT_WGS_METRICS {
    results_dir = "${params.outdir}/QC_statistics/per_sample/coverage/"

    arguments = " --READ_LENGTH 0 --COVERAGE_CAP 10000 --COUNT_UNPAIRED"
}

GATK_FLAG_STAT {
    results_dir = "${params.outdir}/QC_statistics/per_sample/mapping/"

}

UTILS_SAMPLE_STATS {
    results_dir = "${params.outdir}/QC_statistics/samples_thresholds/"
    should_publish = false
}

UTILS_COHORT_STATS {
    results_dir = "${params.outdir}/QC_statistics/cohort/"
    should_publish = false
}

UTILS_MERGE_COHORT_STATS {
    results_dir = "${params.outdir}/QC_statistics/cohort/"
    should_publish = true
}


//-----------------------
// Processes used in MERGE_WF
//-----------------------

NTMPROFILER_COLLATE {
    results_dir = "${params.outdir}/non-tuberculous_mycobacteria/cohort"

    prefix = "ntmprofiler.collate"
}

GATK_COMBINE_GVCFS {
    results_dir = "${params.outdir}/vcf_files/cohort/raw_variant_files/combined"

    arguments = " -G StandardAnnotation -G AS_StandardAnnotation "

    should_publish = false
}

GATK_GENOTYPE_GVCFS {
    results_dir = "${params.outdir}/vcf_files/cohort/raw_variant_files/"

    arguments = " -G StandardAnnotation -G AS_StandardAnnotation --sample-ploidy 1 "

    should_publish = false
}


SNPEFF {
    results_dir = "${params.outdir}/vcf_files/cohort/raw_variant_files/"

    arguments = " -nostats -ud 100 Mycobacterium_tuberculosis_h37rv "

    should_publish = false
}


BGZIP {
    results_dir = "${params.outdir}/vcf_files/cohort/raw_variant_files/"
    arguments = " "
}


UTILS_REFORMAT_LOFREQ {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"
}

BGZIP__LOFREQ {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"
    arguments = "-f"
}


BGZIP__MINOR_VARIANTS {
    results_dir = "${params.outdir}/vcf_files/cohort/minor_variants/combined_variant_files/"
    arguments = "-f"
    should_publish = true
}


GATK_INDEX_FEATURE_FILE__LOFREQ {
    results_dir = "${params.outdir}/vcf_files/per_sample/minor_variants/"
}


GATK_INDEX_FEATURE_FILE__COHORT {
    results_dir = "${params.outdir}/vcf_files/cohort/raw_variant_files/"

}

GATK_SELECT_VARIANTS__SNP {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/"

    arguments = " --remove-unused-alternates --exclude-non-variants "

    should_publish = false
}

GATK_SELECT_VARIANTS__INDEL {
    results_dir = "${params.outdir}/vcf_files/cohort/indel_variant_files/"

    arguments = " --remove-unused-alternates --exclude-non-variants --select-type-to-include MNP --select-type-to-include MIXED"

    should_publish = false
}


GATK_VARIANT_RECALIBRATOR__SNP {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr/"

    arguments = " --use-allele-specific-annotations \
                    -AS \
                    --target-titv 1.7 \
                    --truth-sensitivity-tranche 100.0 \
                    --truth-sensitivity-tranche 99.9 \
                    --truth-sensitivity-tranche 99.8 \
                    --truth-sensitivity-tranche 99.7 \
                    --truth-sensitivity-tranche 99.6 \
                    --truth-sensitivity-tranche 99.5 \
                    --truth-sensitivity-tranche 99.4 \
                    --truth-sensitivity-tranche 99.3 \
                    --truth-sensitivity-tranche 99.2 \
                    --truth-sensitivity-tranche 99.1 \
                    --truth-sensitivity-tranche 99.0 \
                    --max-gaussians 4 \
                    -mq-cap 60"
}

UTILS_ELIMINATE_ANNOTATION__ANN7 {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann7/"
}

UTILS_ELIMINATE_ANNOTATION__ANN6 {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann6/"
}

UTILS_ELIMINATE_ANNOTATION__ANN5 {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann5/"
}

UTILS_ELIMINATE_ANNOTATION__ANN4 {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann4/"
}

UTILS_ELIMINATE_ANNOTATION__ANN3 {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann3/"
}

UTILS_ELIMINATE_ANNOTATION__ANN2 {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann2/"
}

UTILS_SELECT_BEST_ANNOTATIONS {
    //This can later be unpublished, as well as other ANN outputs)
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr/best_annotations"
}

GATK_VARIANT_RECALIBRATOR__ANN2 {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann2/"
}

GATK_VARIANT_RECALIBRATOR__ANN3 {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann3/"
}

GATK_VARIANT_RECALIBRATOR__ANN4 {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann4/"
}

GATK_VARIANT_RECALIBRATOR__ANN5 {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann5/"
}

GATK_VARIANT_RECALIBRATOR__ANN6 {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann6/"
}

GATK_VARIANT_RECALIBRATOR__ANN7 {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/vqsr__ann7/"
}

GATK_VARIANT_RECALIBRATOR__INDEL {
    results_dir = "${params.outdir}/vcf_files/cohort/indel_variant_files/vqsr/"


    arguments = " -AS \
                    --target-titv 1.8 \
                    --truth-sensitivity-tranche 100.0 \
                    --truth-sensitivity-tranche 99.9 \
                    --truth-sensitivity-tranche 99.8 \
                    --truth-sensitivity-tranche 99.7 \
                    --truth-sensitivity-tranche 99.6 \
                    --truth-sensitivity-tranche 99.5 \
                    --truth-sensitivity-tranche 99.4 \
                    --truth-sensitivity-tranche 99.3 \
                    --truth-sensitivity-tranche 99.2 \
                    --truth-sensitivity-tranche 99.1 \
                    --truth-sensitivity-tranche 99.0 \
                    --max-gaussians 4 \
                    -mq-cap 60"
}

GATK_APPLY_VQSR__SNP {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/"

    arguments = " --ts-filter-level 99.90 -AS --exclude-filtered "
}

GATK_APPLY_VQSR__INDEL {
    results_dir = "${params.outdir}/vcf_files/cohort/indel_variant_files/"

    arguments = ""
}


GATK_SELECT_VARIANTS__EXCLUSION__SNP {
    results_dir = "${params.outdir}/vcf_files/cohort/snp_variant_files/"

    arguments = "  "
}


GATK_SELECT_VARIANTS__EXCLUSION__INDEL {
    results_dir = "${params.outdir}/vcf_files/cohort/indel_variant_files/"

    arguments = " --select-type-to-include MNP --select-type-to-include MIXED "
}

BCFTOOLS_MERGE__LOFREQ {
    results_dir = "${params.outdir}/vcf_files/cohort/minor_variants/combined_variant_files/"
    should_publish = true
    file_format = "lofreq"
}

BCFTOOLS_MERGE__DELLY {
    results_dir = "${params.outdir}/vcf_files/cohort/structural_variants/combined_variant_files/"
    should_publish = true
    file_format = "delly"
}

GATK_MERGE_VCFS {
    results_dir = "${params.outdir}/vcf_files/cohort/combined_variant_files/"
}

TBPROFILER_VCF_PROFILE__COHORT {
    results_dir = "${params.outdir}/analyses/drug_resistance/major_variants/"
    arguments = " --depth 0,0 --af 0,0 --strand 0 --sv_depth 0,0 --sv_af 0,0 --sv_len 100000,50000 "
}

TBPROFILER_COLLATE__COHORT {
    results_dir = "${params.outdir}/analyses/drug_resistance/major_variants/"

    prefix = "major_variants"
}

TBPROFILER_VCF_PROFILE__LOFREQ {
    results_dir = "${params.outdir}/analyses/drug_resistance/minor_variants/"
    arguments = " --depth 0,0 --af 0,0 --strand 0 --sv_depth 0,0 --sv_af 0,0 --sv_len 100000,50000 "
}

TBPROFILER_COLLATE__LOFREQ {
    results_dir = "${params.outdir}/analyses/drug_resistance/minor_variants/"

    prefix = "minor_variants"
}

TBPROFILER_VCF_PROFILE__DELLY {
    results_dir = "${params.outdir}/analyses/drug_resistance/structural_variants/"
    arguments = " --depth 0,0 --af 0,0 --strand 0 --sv_depth 0,0 --sv_af 0,0 --sv_len 100000,50000 "
}

TBPROFILER_COLLATE__DELLY {
    results_dir = "${params.outdir}/analyses/drug_resistance/structural_variants/"

    prefix = "structural_variants"
}

UTILS_SUMMARIZE_RESISTANCE_RESULTS {
    results_dir = "${params.outdir}/analyses/drug_resistance/"
}

UTILS_SUMMARIZE_RESISTANCE_RESULTS_MIXED_INFECTION {
    results_dir = "${params.outdir}/analyses/drug_resistance/"
}

GATK_SELECT_VARIANTS__PHYLOGENY {
    results_dir = "${params.outdir}/analyses/phylogeny/"

    arguments = " --remove-unused-alternates --exclude-non-variants "
    should_publish = false
}

GATK_VARIANTS_TO_TABLE {
    results_dir = "${params.outdir}/vcf_files/cohort/multiple_alignment_files/"

    arguments = " -GF GT "

    should_publish = false
}

SNPSITES {
    results_dir = "${params.outdir}/vcf_files/cohort/multiple_alignment_files/"

}

SNPDISTS {
    results_dir = "${params.outdir}/analyses/snp_distances/"

}


IQTREE {
    results_dir = "${params.outdir}/analyses/phylogeny/"

    //NOTE: The arguments of IQTREE are decided within the process
    // as per the discussion here https://github.com/TORCH-Consortium/MAGMA/discussions/164#discussioncomment-6839547
}

CLUSTERPICKER {
    results_dir = "${params.outdir}/analyses/cluster_analysis/"

    bootstrap_1 = 0
    bootstrap_2 = 0
    max_cluster_size = 0
    algorithm = 'gap'

}
