manifest {
    name = 'XBS-nf'
    description = ''
    version = '0.0.1'
    author = ''
    defaultBranch = 'master'
    homePage = ''
    nextflowVersion = '>=21.04.0'
}



// Default params for Benchmarking on dev infrastructure.
params {}

profiles {
    standard { includeConfig 'conf/standard.config' }
    stub { includeConfig 'conf/stub.config' }
    dev { includeConfig 'conf/dev.config' }
    pbs { includeConfig 'conf/pbs.config' }
    conda { includeConfig 'conf/conda.config' }
    docker { includeConfig 'conf/docker.config' }
    // gls { includeConfig 'conf/gcp.config' }
    // azureBatch { includeConfig 'conf/azure.config' }
    // awsBatch { includeConfig 'conf/aws.config' }
}
