manifest {
    name = 'MAGMA'
    description = 'MAGMA is a pipeline for comprehensive genomic analyses of Mycobacterium tuberculosis with a focus on clinical decision making as well as research.'
    version = '1.0.0'
    author = 'TORCH-Consortium'
    defaultBranch = 'master'
    homePage = 'https://github.com/TORCH-Consortium/MAGMA'
}

params { includeConfig 'default_params.config' }

process {

    cpus = 4
    memory = 4.GB

    withLabel: 'cpu_low_memory_low' {
        cpus = 2
        memory = 2.GB   
    }

    withLabel: 'cpu_low_memory_high' {
        cpus = 2
        memory = 16.GB   
    }

    withLabel: 'cpu_medium_memory_medium' {
        cpus = 4
        memory = 4.GB   
    }

    withLabel: 'cpu_high_memory_high' {
        cpus = 8
        memory = 8.GB   
    }
    
    withLabel: 'cpu_high_memory_medium' {
        cpus = 8
        memory = 4.GB   
    }

    withName: 'SAMPLESHEET_VALIDATION' {
        //NOTE: If this process fails, terminate the pipeline execution
        errorStrategy = 'terminate'
    }

}


profiles {

    // Package management specific settings
    conda_local { includeConfig 'conf/conda_local.config' }
    docker { includeConfig 'conf/docker.config' }

    // Executor specific settings
    pbs { includeConfig 'conf/pbs.config' }
    server { includeConfig 'conf/server.config' }

    //NOTE: Test profile - DO NOT USE
    test { includeConfig 'conf/test.config' }
}

