/*
 * Copyright (c) 2021-2024 MAGMA pipeline authors, see https://doi.org/10.1371/journal.pcbi.1011648
 *
 * This file is part of MAGMA pipeline, see https://github.com/TORCH-Consortium/MAGMA
 *
 * For quick overview of GPL-3 license, please refer
 * https://www.tldrlegal.com/license/gnu-general-public-license-v3-gpl-3
 *
 * - You MUST keep this license with original authors in your copy
 * - You MUST acknowledge the original source of this software
 * - You MUST state significant changes made to the original software
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program . If not, see <http://www.gnu.org/licenses/>.
 */
manifest {
    name = 'MAGMA'
    description = 'MAGMA is a pipeline for comprehensive genomic analyses of Mycobacterium tuberculosis with a focus on clinical decision making as well as research.'
    version = '2.0.0'
    author = 'TORCH-Consortium'
    defaultBranch = 'master'
    homePage = 'https://github.com/TORCH-Consortium/MAGMA'
}

params { includeConfig 'default_params.config' }

process {

    //Default values if a label hasn't been specified within a process
    cpus = { 4 * task.attempt }
    memory = { 4.GB * task.attempt }

    //Default action is to ignore the process if the second attempt fails
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    maxRetries = 3

    //NOTE: These labels are ordered by number of cpus allocated and then the memory
    withLabel: 'cpu_2_memory_2' {
        cpus = 2
        memory = 2.GB
    }

    withLabel: 'cpu_4_memory_8' {
        cpus = 4
        memory = 8.GB
    }

    withLabel: 'cpu_4_memory_16' {
        cpus = 4
        memory = 16.GB
    }

    withLabel: 'cpu_8_memory_4' {
        cpus = 8
        memory = 4.GB
    }

    withLabel: 'cpu_8_memory_8' {
        cpus = 8
        memory = 8.GB
    }

    withLabel: 'cpu_8_memory_16' {
        cpus = 8
        memory = 16.GB
    }

}


profiles {

    // Package management specific settings
    conda_local { includeConfig 'conf/conda_local.config' }
    docker { includeConfig 'conf/docker.config' }
    singularity { includeConfig 'conf/singularity.config' }
    apptainer { includeConfig 'conf/apptainer.config' }
    podman { includeConfig 'conf/podman.config' }

    // Executor specific settings
    biomina { includeConfig 'conf/biomina.config' }
    pbs { includeConfig 'conf/pbs.config' }
    server { includeConfig 'conf/server.config' }
    low_memory { includeConfig 'conf/low_memory.config' }
    laptop { includeConfig 'conf/laptop.config' }

    //NOTE: Test profile - DO NOT USE
    test { includeConfig 'conf/test.config' }


    //NOTE: Frequent settings needed for analysis
    bwa_k66 { includeConfig 'conf/bwa_k66.config' }
}
