conda {
    cacheDir = "$baseDir/conda_cache"
}

process {

    withName:
    'GATK.* | LOFREQ.* | DELLY.* | TBPROFILER.* | MULTIQC.* | FASTQC.*' {
        conda = "$baseDir/conda_envs/xbs-nf-env-1"
    }

    withName:
    'QUANTTB.* | BWA.* | IQTREE.* | SNPDISTS.* | SNPSITES.* | BCFTOOLS.* | BGZIP.* | SAMTOOLS.* | SNPEFF.* | CLUSTERPICKER.*' {
        conda = "$baseDir/conda_envs/xbs-nf-env-2"
    }

}
