params {
    conda_envs_location = "${projectDir}/conda_envs"
}

conda {
    enabled = true
}

process {

    withName:
    'GATK.*|LOFREQ.*|DELLY.*|TBPROFILER.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*' {
        //environment does exist:
        //conda = "${params.conda_envs_location}/xbs-nf-env-1"

        //environment does NOT exist: the env file contains all the info to create the environment "xbs-nf-env-1"
        conda = "${params.conda_envs_location}/xbs-nf-env-1.yml"
    }

    withName:
    'QUANTTB.*|BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        //environment does exist:
        //conda = "${params.conda_envs_location}/xbs-nf-env-2"

        //environment does NOT exist: the env file contains all the info to create the environment "xbs-nf-env-2"
        conda = "${params.conda_envs_location}/xbs-nf-env-2.yml"

    }

}
