params {
    conda_envs_location = "${projectDir}/conda_envs"
}

conda {
    enabled = true
}

process {


    withName:
    'NTMPROFILER.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/magma-ntmprofiler-env"

        //environment does NOT exist: the env file contains all the info to create the environment "magma-env-1"
        //conda = "${params.conda_envs_location}/magma-tbprofiler-env.yml"
    }


    withName:
    'TBPROFILER.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/magma-tbprofiler-env"

        //environment does NOT exist: the env file contains all the info to create the environment "magma-env-1"
        //conda = "${params.conda_envs_location}/magma-tbprofiler-env.yml"
    }


    withName:
    'ISMAPPER.*|GATK.*|LOFREQ.*|DELLY.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*|SAMPLESHEET.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/magma-env-1"

        //environment does NOT exist: the env file contains all the info to create the environment "magma-env-1"
        //conda = "${params.conda_envs_location}/magma-env-1.yml"
    }

    withName:
    'BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/magma-env-2"

        //environment does NOT exist: the env file contains all the info to create the environment "magma-env-2"
        //conda = "${params.conda_envs_location}/magma-env-2.yml"

    }

}