params {
    input_samplesheet = "${projectDir}/resources/reference_set/xbs-nf.test.csv"
    outdir = "${projectDir}/results"
}

executor {
    queueSize = 1
    // pollInterval = '10sec'
    // submitRateLimit = '50/2min'
}

conda {
    useMamba = true
}

process {
    executor = "slurm"

    cpus = 4
    memory = 8.GB

    withName: '.*QUANTTB.*' {
        memory = 16.GB
    }

}
