params {
    input_samplesheet = "${projectDir}/resources/reference_set/xbs-nf.test.csv"
    outdir = "${projectDir}/results"
}

executor {
    queueSize = 6
    // pollInterval = '10sec'
    // submitRateLimit = '50/2min'
}

singularity {
    enabled = true
}

process {

    executor = "slurm"

    cpus = 4
    memory = 8.GB


    //----------------------------------------------
    // biocontainers
    //----------------------------------------------

    withName:
    'FASTQC.*' {
        container = "quay.io/biocontainers/fastqc:0.11.8--2"
    }

    withName:
    'TBPROFILER.*' {
        container = "quay.io/biocontainers/tb-profiler:3.0.8--pypyh5e36f6f_0"
    }

    withName:
    'MULTIQC.*' {
        container = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
    }

    withName:
    'CLUSTERPICKER.*' {
        container = "quay.io/biocontainers/clusterpicker:1.2.3--2"
    }

    withName:
    'SNPEFF.*' {
        container = 'quay.io/biocontainers/snpeff:4.3.1t--4'
    }

    withName:
    'SAMTOOLS.*' {
        container = "quay.io/biocontainers/samtools:1.9--h10a08f8_12"
    }

    withName:
    'BGZIP.*' {
        container = "quay.io/biocontainers/samtools:1.9--h10a08f8_12"
    }

    withName:
    'BCFTOOLS.*' {
        container = "quay.io/biocontainers/bcftools:1.9--h68d8f2e_9"
    }


    withName:
    'LOFREQ.*' {
        container = "quay.io/biocontainers/lofreq:2.1.5--py38h588ecb2_4"
    }

    withName:
    'DELLY.*' {
        container = "quay.io/biocontainers/delly:0.8.7--he03298f_1"
    }

    withName:
    'SNPSITES.*' {
        container = "quay.io/biocontainers/snp-sites:2.4.0--ha92aebf_3"
    }

    withName:
    'SNPDISTS.*' {
        container = "quay.io/biocontainers/snp-dists:0.8.2--h5bf99c6_0"
    }

    withName:
    'IQTREE.*' {
        container = "quay.io/biocontainers/iqtree:2.1.2--h56fc30b_0"
    }


    //----------------------------------------------
    // custom containers
    //----------------------------------------------

    withName:
    'GATK.*' {
        container = "abhi18av/gatk_r_datamash:0.0.1"
    }

    withName:
    'QUANTTB.*' {
        container = 'abhi18av/quanttb_bwa:0.0.1'
        memory = 32.GB
    }

    withName:
    'BWA.*' {
        container = 'abhi18av/bwa_samtools:0.0.1'
    }

}
