process {

    //----------------------------------------------
    // Custom containers for all deps.
    //----------------------------------------------

    withName:
    'GATK.*|LOFREQ.*|DELLY.*|TBPROFILER.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*' {
        container = "rg.nl-ams.scw.cloud/xbs-nf-containers/magma-nf-container-1:0.9.8"
    }

    withName:
    'QUANTTB.*|BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        container = "rg.nl-ams.scw.cloud/xbs-nf-containers/magma-nf-container-2:0.9.8"
    }


/*

    //----------------------------------------------
    // biocontainers
    //----------------------------------------------

    withName:
    'FASTQC.*' {
        container = "quay.io/biocontainers/fastqc:0.11.8--2"
    }

    withName: 'TBPROFILER.*' {
        container = "quay.io/biocontainers/tb-profiler:4.1.1--pypyh5e36f6f_0"
    }

    withName:
    'MULTIQC.*' {
        container = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
    }

    withName:
    'CLUSTERPICKER.*' {
        container = "quay.io/biocontainers/clusterpicker:1.2.3--2"
    }

    withName:
    'SNPEFF.*' {
        container = 'quay.io/biocontainers/snpeff:4.3.1t--4'
    }

    withName:
    'SAMTOOLS.*' {
        container = "quay.io/biocontainers/samtools:1.9--h10a08f8_12"
    }

    withName:
    'BGZIP.*' {
        container = "quay.io/biocontainers/samtools:1.9--h10a08f8_12"
    }

    withName:
    'BCFTOOLS.*' {
        container = "quay.io/biocontainers/bcftools:1.9--h68d8f2e_9"
    }


    withName:
    'LOFREQ.*' {
        container = "quay.io/biocontainers/lofreq:2.1.5--py38h588ecb2_4"
    }

    withName:
    'DELLY.*' {
        container = "quay.io/biocontainers/delly:0.8.7--he03298f_1"
    }

    withName:
    'SNPSITES.*' {
        container = "quay.io/biocontainers/snp-sites:2.4.0--ha92aebf_3"
    }

    withName:
    'SNPDISTS.*' {
        container = "quay.io/biocontainers/snp-dists:0.8.2--h5bf99c6_0"
    }

    withName:
    'IQTREE.*' {
        container = "quay.io/biocontainers/iqtree:2.1.2--h56fc30b_0"
    }

*/

}
