process {

    //----------------------------------------------
    // Custom containers for all deps.
    //----------------------------------------------

    withName:
    'GATK.*|LOFREQ.*|DELLY.*|TBPROFILER.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*|SAMPLESHEET.*' {
        container = "rg.fr-par.scw.cloud/magma-containers/magma-container-1:1.0.0"
    }

    withName:
    'BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        container = "rg.fr-par.scw.cloud/magma-containers/magma-container-2:1.0.0"
    }

}
