process {

    //----------------------------------------------
    // Custom containers for all deps.
    //----------------------------------------------

//    withName:
//    'UTILS_REFORMAT_LOFREQ.*' {
//        container = "ghcr.io/torch-consortium/magma/misc:2.0.0-beta"
//    }


    withName:
    'ISMAPPER.*' {
        container = "quay.io/biocontainers/ismapper:2.0--py_1"
    }


    withName:
    'TBPROFILER.*' {
        container = "ghcr.io/torch-consortium/magma/biocontainer-tbprofiler:6.3.0"
    }

    withName:
    'NTMPROFILER.*' {
        container = "ghcr.io/torch-consortium/magma/biocontainer-ntmprofiler:0.4.0"
    }

    withName:
    'GATK.*|LOFREQ.*|DELLY.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*|SAMPLESHEET.*' {
        container = "ghcr.io/torch-consortium/magma/magma-container-1:1.1.1"
    }

    withName:
    'BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        container = "ghcr.io/torch-consortium/magma/magma-container-2:1.1.1"
    }

}


docker {
    enabled = true
    runOptions      = '-u $(id -u):$(id -g)'
}
