process {

    withName:
    'FASTQC.*' {
        cpus = 3
        memory = 2.GB
    }

    withName:
    'TBPROFILER.*' {
    }

    withName:
    'MULTIQC.*' {
    }

    withName:
    'GATK.*' {
    }

    withName:
    'GATK_VARIANTS_TO_TABLE' {
    }

    withName:
    'CLUSTERPICKER.*' {
    }

    withName:
    'SNPEFF.*' {
    }


    withName:
    'SAMTOOLS.*' {
    }

    withName:
    'BGZIP.*' {
    }

    withName:
    'BCFTOOLS.*' {
    }


    withName:
    'LOFREQ.*' {
    }

    withName:
    'DELLY.*' {
    }

    withName:
    'SNPSITES.*' {
    }

    withName:
    'SNPDISTS.*' {
    }

    withName:
    'IQTREE.*' {
    }

    withName:
    'QUANTTB.*' {
    }

    withName:
    'BWA.*' {
    }

}
