process {
    
    cpus = 4
    memory = 4.GB


    withName:
    'FASTQC.*' {
        cpus = 3
        memory = 2.GB
    }

    withName:
    'TBPROFILER.*' {
    }

    withName:
    'MULTIQC.*' {
    }

    withName:
    'GATK.*' {
    }

    withName:
    'GATK_VARIANTS_TO_TABLE' {
    }


    withName:
    'GATK_HAPLOTYPE_CALLER.*' {
        cpus = 4
        memory = 4.GB
    }

    withName:
    'CLUSTERPICKER.*' {
    }

    withName:
    'SNPEFF.*' {
    }


    withName:
    'SAMTOOLS.*' {
    }

    withName:
    'BGZIP.*' {
    }

    withName:
    'BCFTOOLS.*' {
    }


    withName:
    'LOFREQ.*' {
    }

    withName:
    'DELLY.*' {
    }

    withName:
    'SNPSITES.*' {
    }

    withName:
    'SNPDISTS.*' {
    }

    withName:
    'IQTREE.*' {
    }

    withName:
    'QUANTTB.*' {
        cpus = 4
        memory = 10.GB
        maxForks = 1
    }

    withName:
    'BWA.*' {
        cpus = 8
        memory = 6.GB
    }

}
