process {

    cpus = 4
    memory = 4.GB

    withName: 'QUANTTB_QUANT' {
        cpus = 2
        memory = 32.GB
        maxForks = 1
    }

    withName: 'FASTQC' {
        cpus = 2
        memory = 2.GB
    }

    withName: 'TBPROFILER_LOAD_LIBRARY' {
        cpus = 2
        memory = 2.GB
    }

    withName: 'UTILS_QUANTTB_.*' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'BWA_MEM' {
        cpus = 8
        memeory = 8.GB
    }

    withName: 'SAMTOOLS_MERGE' {
        cpus = 4
        memory = 2.GB
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'GATK_MARK_DUPLICATES' {
        cpus = 2
        memory = 16.GB
    }

    withName: 'GATK_BASE_RECALIBRATOR' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'GATK_APPLY_BQSR' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'LOFREQ_INDELQUAL' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'GATK_FLAG_STAT' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'GATK_COLLECT_WGS_METRICS' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'SAMTOOLS_STATS' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'SAMTOOLS_INDEX.*' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'DELLY_CALL' {
        cpus = 1
        memory = 2.GB
    }

    withName: 'GATK_HAPLOTYPE_CALLER.*' {
        cpus = 1
        memory = 4.GB
    }

    withName: 'LOFREQ_CALL.*' {
        cpus = 8
        memory = 2.GB
    }

    withName: 'BGZIP' {
        cpus = 1
        memory = 2.GB
    }
}
