/*
 * Copyright (c) 2021-2024 MAGMA pipeline authors, see https://doi.org/10.1371/journal.pcbi.1011648
 *
 * This file is part of MAGMA pipeline, see https://github.com/TORCH-Consortium/MAGMA
 *
 * For quick overview of GPL-3 license, please refer
 * https://www.tldrlegal.com/license/gnu-general-public-license-v3-gpl-3
 *
 * - You MUST keep this license with original authors in your copy
 * - You MUST acknowledge the original source of this software
 * - You MUST state significant changes made to the original software
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program . If not, see <http://www.gnu.org/licenses/>.
 */
executor {
    /* https://www.nextflow.io/docs/latest/config.html?highlight=polling#scope-executor */
    /* https://www.nextflow.io/blog/2021/5_tips_for_hpc_users.html */

    queueSize = 20
    // pollInterval = '10sec'
    // submitRateLimit = '50/2min'
}

process {

    cache = 'lenient'

    beforeScript = "source /home/shared_data_ghi/CWGSMTB/Software/anaconda3/etc/profile.d/conda.sh"
    afterScript = 'conda deactivate'

    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

    executor = "pbs" // OR "pbspro"
    queue = "scattergather"
    clusterOptions = "-A GHI "

    cpus = 4
    memory = 8.GB

    withName: '.*GATK_VARIANT_RECALIBRATOR.*' {
        memory = 48.GB
    }

    withName: '.*GATK_MARK_DUPLICATES.*' {
        memory = 16.GB
    }

    withName: '.*GATK_HAPLOTYPE_CALLER.*' {
        memory = 16.GB
    }

    withName: '.*SAMTOOLS_MERGE.*' {
        memory = 16.GB
    }

    withName: 'IQTREE.*' {
        cpus = 2
    }
}
