params {

    //NOTE: For testing
    // input_samplesheet = "${projectDir}/resources/reference_set/xbs-nf.pbs.test.csv"

    //NOTE: For full EXIT-RIF dataset
    input_samplesheet = "${projectDir}/resources/reference_set/XBS.ReferenceSet.csv"

    outdir = "${projectDir}/results"

    //-----------------------
    // Custom results location on the cluster
    //-----------------------

    //NOTE: Below is an example
    // BWA_MEM.results_dir = "/home/shared_data_ghi/CWGSMTB/results/bwa/mem"
}

executor {
    queueSize = 10
    // pollInterval = '10sec'
    // submitRateLimit = '50/2min'
}

process {
    beforeScript = "source /home/shared_data_ghi/CWGSMTB/Software/anaconda3/etc/profile.d/conda.sh"
    afterScript = 'conda deactivate'

    executor = "pbs" // OR "pbspro"
    queue = "scattergather"
    clusterOptions = "-A GHI "

    cpus = 4
    memory = 8.GB

    withName: '.*QUANTTB.*' {
        memory = 32.GB
    }
}
