executor {
    /* https://www.nextflow.io/docs/latest/config.html?highlight=polling#scope-executor */
    /* https://www.nextflow.io/blog/2021/5_tips_for_hpc_users.html */

    queueSize = 20
    // pollInterval = '10sec'
    // submitRateLimit = '50/2min'
}

process {

    cache = 'lenient'

    beforeScript = "source /home/shared_data_ghi/CWGSMTB/Software/anaconda3/etc/profile.d/conda.sh"
    afterScript = 'conda deactivate'

    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

    executor = "pbs" // OR "pbspro"
    queue = "scattergather"
    clusterOptions = "-A GHI "

    cpus = 4
    memory = 8.GB

    withName: '.*GATK_VARIANT_RECALIBRATOR.*' {
        memory = 48.GB
    }

    withName: '.*GATK_MARK_DUPLICATES.*' {
        memory = 16.GB
    }

    withName: '.*GATK_HAPLOTYPE_CALLER.*' {
        memory = 16.GB
    }

    withName: '.*SAMTOOLS_MERGE.*' {
        memory = 16.GB
    }

    withName: 'IQTREE.*' {
        cpus = 2
    }
}
