params {
    input_samplesheet = "${projectDir}/resources/reference_set/xbs-nf.mini.test.csv"
    outdir = "${projectDir}/results_test"
    optimize_variant_recalibration = true
    compute_minor_variants = true
    dataset_is_not_contaminated = true
    resistance_db=  "${projectDir}/resources/resistance_db_v2"

    //NOTE: This is customized version for dev time testing (remove gaussian param), due to small sample size
    GATK_VARIANT_RECALIBRATOR__SNP {
        results_dir = "${params.outdir}/gatk/variant_recalibrator__snp"

        arguments = " --use-allele-specific-annotations \
                        -AS \
                        --target-titv 1.7 \
                        --truth-sensitivity-tranche 100.0 \
                        --truth-sensitivity-tranche 99.9 \
                        --truth-sensitivity-tranche 99.8 \
                        --truth-sensitivity-tranche 99.7 \
                        --truth-sensitivity-tranche 99.6 \
                        --truth-sensitivity-tranche 99.5 \
                        --truth-sensitivity-tranche 99.4 \
                        --truth-sensitivity-tranche 99.3 \
                        --truth-sensitivity-tranche 99.2 \
                        --truth-sensitivity-tranche 99.1 \
                        --truth-sensitivity-tranche 99.0 \
                        --max-gaussians 1 \
                        -mq-cap 60"
    }


}

executor {
    queueSize = 1
}

process {
  cpus = 8
  memory = 14.GB
  errorStrategy = 'ignore'
  // errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }

}
