process {

    withName:
    'TBPROFILER.*' {
        container = "ghcr.io/torch-consortium/magma/biocontainer-tbprofiler:6.3.0--1"
    }

    withName:
    'NTMPROFILER.*' {
        container = "ghcr.io/torch-consortium/magma/biocontainer-ntmprofiler:0.4.0"
    }

    withName:
    'ISMAPPER.*|GATK.*|LOFREQ.*|DELLY.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*|SAMPLESHEET.*' {
        container = "ghcr.io/torch-consortium/magma/magma-container-1:2.1.0"
    }

    withName:
    'BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        container = "ghcr.io/torch-consortium/magma/magma-container-2:1.1.1"
    }

}


singularity {
    enabled = true
}
