manifest {

	name = "SLURM testing with 5 samples with optimization without EXIT-RIF GVCF"
}

params {
    outdir = "${projectDir}/results"
    optimize_variant_recalibration = false
    compute_minor_variants = true
    dataset_is_not_contaminated = true

    ref_exit_rif_gvcf = "${projectDir}/resources/exit_rif/NONE.g.vcf.gz"
    ref_exit_rif_gvcf_tbi  ="${params.ref_exit_rif_gvcf}.tbi" 

    //The path to resistance database to use for resistance calling
    resistance_db = []


    save_mode = 'symlink'


    //NOTE: This is customized version for dev time testing (remove gaussian param)
    GATK_VARIANT_RECALIBRATOR__SNP {
        results_dir = "${params.outdir}/gatk/variant_recalibrator__snp"

        arguments = " --use-allele-specific-annotations \
                        -AS \
                        --target-titv 1.7 \
                        --truth-sensitivity-tranche 100.0 \
                        --truth-sensitivity-tranche 99.9 \
                        --truth-sensitivity-tranche 99.8 \
                        --truth-sensitivity-tranche 99.7 \
                        --truth-sensitivity-tranche 99.6 \
                        --truth-sensitivity-tranche 99.5 \
                        --truth-sensitivity-tranche 99.4 \
                        --truth-sensitivity-tranche 99.3 \
                        --truth-sensitivity-tranche 99.2 \
                        --truth-sensitivity-tranche 99.1 \
                        --truth-sensitivity-tranche 99.0 \
                        --max-gaussians 1 \
                        -mq-cap 60"
    }


}

executor {
//    queueSize = 1
    pollInterval = '5sec'
}

process {

    executor = "slurm"
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }


    time = '1h'
    cpus = 8
    memory = 8.GB

    withName:
    'IQTREE.*' {
        time = '2h'
        cpus = 2
    }


    }
