/* TODO: Incorporate this in the overall configs */

process {
  withName: 'CALL_WF:BCFTOOLS_VIEW' {
    cpus = 4
    memory = 1.GB
  }
  withName: 'CALL_WF:BGZIP__LOFREQ' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'CALL_WF:DELLY_CALL' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:GATK_APPLY_BQSR' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:GATK_BASE_RECALIBRATOR' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:GATK_COLLECT_WGS_METRICS' {
    cpus = 2
    memory = 2.GB
  }
  withName: 'CALL_WF:GATK_FLAG_STAT' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:GATK_HAPLOTYPE_CALLER' {
    cpus = 3
    memory = 2.GB
  }
  withName: 'CALL_WF:GATK_HAPLOTYPE_CALLER__MINOR_VARIANTS' {
    cpus = 3
    memory = 3.GB
  }
  withName: 'CALL_WF:GATK_INDEX_FEATURE_FILE__LOFREQ' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'CALL_WF:GATK_INDEX_FEATURE_FILE__SV' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'CALL_WF:GATK_MARK_DUPLICATES' {
    cpus = 2
    memory = 12.GB
  }
  withName: 'CALL_WF:GATK_SELECT_VARIANTS__INCLUSION' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'CALL_WF:LOFREQ_CALL' {
    cpus = 8
    memory = 1.GB
  }
  withName: 'CALL_WF:LOFREQ_CALL__NTM' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:LOFREQ_FILTER' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:LOFREQ_INDELQUAL' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:SAMTOOLS_INDEX' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:SAMTOOLS_INDEX__LOFREQ' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:SAMTOOLS_MERGE' {
    cpus = 5
    memory = 1.GB
  }
  withName: 'CALL_WF:SAMTOOLS_STATS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'CALL_WF:UTILS_COHORT_STATS' {
    cpus = 1
  }
  withName: 'CALL_WF:UTILS_REFORMAT_LOFREQ' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'CALL_WF:UTILS_SAMPLE_STATS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MAP_WF:BWA_MEM' {
    cpus = 9
    memory = 6.GB
  }
  withName: 'MERGE_WF:CLUSTER_ANALYSIS__EXCOMPLEX:CLUSTERPICKER__12SNP' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:CLUSTER_ANALYSIS__EXCOMPLEX:CLUSTERPICKER__5SNP' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:CLUSTER_ANALYSIS__INCCOMPLEX:CLUSTERPICKER__12SNP' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:CLUSTER_ANALYSIS__INCCOMPLEX:CLUSTERPICKER__5SNP' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:GATK_MERGE_VCFS__INC' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:INDEL_ANALYSIS:GATK_SELECT_VARIANTS__INDEL' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:MAJOR_VARIANT_ANALYSIS:TBPROFILER_COLLATE__COHORT' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:MAJOR_VARIANT_ANALYSIS:TBPROFILER_VCF_PROFILE__COHORT' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__EXCOMPLEX:GATK_SELECT_VARIANTS__PHYLOGENY' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__EXCOMPLEX:GATK_VARIANTS_TO_TABLE' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__EXCOMPLEX:IQTREE' {
    cpus = 4
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__EXCOMPLEX:SNPDISTS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__EXCOMPLEX:SNPSITES' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__INCCOMPLEX:GATK_SELECT_VARIANTS__PHYLOGENY' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__INCCOMPLEX:GATK_VARIANTS_TO_TABLE' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__INCCOMPLEX:IQTREE' {
    cpus = 4
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__INCCOMPLEX:SNPDISTS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:PHYLOGENY_ANALYSIS__INCCOMPLEX:SNPSITES' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:PREPARE_COHORT_VCF:BGZIP' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:PREPARE_COHORT_VCF:GATK_COMBINE_GVCFS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:PREPARE_COHORT_VCF:GATK_GENOTYPE_GVCFS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:PREPARE_COHORT_VCF:GATK_INDEX_FEATURE_FILE__COHORT' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:PREPARE_COHORT_VCF:SNPEFF' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:GATK_APPLY_VQSR__SNP' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:GATK_SELECT_VARIANTS__EXCLUSION__SNP' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:GATK_SELECT_VARIANTS__SNP' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:GATK_VARIANT_RECALIBRATOR__ANN2' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:GATK_VARIANT_RECALIBRATOR__ANN3' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:GATK_VARIANT_RECALIBRATOR__ANN4' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:GATK_VARIANT_RECALIBRATOR__ANN5' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:GATK_VARIANT_RECALIBRATOR__ANN6' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:GATK_VARIANT_RECALIBRATOR__ANN7' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_ELIMINATE_ANNOTATION__ANN2' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_ELIMINATE_ANNOTATION__ANN3' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_ELIMINATE_ANNOTATION__ANN4' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_ELIMINATE_ANNOTATION__ANN5' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_ELIMINATE_ANNOTATION__ANN6' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_ELIMINATE_ANNOTATION__ANN7' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:SNP_ANALYSIS:OPTIMIZE_VARIANT_RECALIBRATION:UTILS_SELECT_BEST_ANNOTATIONS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MERGE_WF:UTILS_MERGE_COHORT_STATS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MINOR_VARIANT_ANALYSIS_WF:BCFTOOLS_MERGE' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'MINOR_VARIANT_ANALYSIS_WF:BGZIP' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MINOR_VARIANT_ANALYSIS_WF:TBPROFILER_COLLATE__LOFREQ' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'MINOR_VARIANT_ANALYSIS_WF:TBPROFILER_VCF_PROFILE__LOFREQ' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'MINOR_VARIANT_ANALYSIS_WF:UTILS_MULTIPLE_INFECTION_FILTER' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'QUALITY_CHECK_WF:FASTQC' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'REPORTS_WF:MULTIQC' {
    cpus = 2
    memory = 2.GB
  }
  withName: 'REPORTS_WF:UTILS_SUMMARIZE_RESISTANCE_RESULTS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'VALIDATE_FASTQS_WF:FASTQ_VALIDATOR' {
    cpus = 2
    memory = 2.GB
  }
  withName: 'VALIDATE_FASTQS_WF:SAMPLESHEET_VALIDATION' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'VALIDATE_FASTQS_WF:UTILS_FASTQ_COHORT_VALIDATION' {
    cpus = 1
  }
