#-------------------------------------------------------------------------------
# SnpEff configuration file
#-------------------------------------------------------------------------------

#---
# Database repository: Where to download genome data
#---
database.repository = https://snpeff.blob.core.windows.net/databases/

#---
# Databases are stored here
#---
data.dir = ./data/

#---
# Download options
#---
download.timeout = 60

#---
# Basic reference genomes (prevents hg19 error)
#---
hg19.genome : Homo_sapiens
hg38.genome : Homo_sapiens  
mm10.genome : Mus_musculus
mm39.genome : Mus_musculus
dm6.genome : Drosophila_melanogaster

#---
# Your custom M. bovis database  
#---
mbovis_AF2122.genome : Mycobacterium_bovis_AF2122_97
